/* ---- base styles ---- */
html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* ---- HEADER styles ---- */
header {
  top: 0;
  left:0;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 10;
  position: fixed;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerlogo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 10px;
}

.headerlogo img {
  height: 50px;
}

header nav {
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

/* ---- CONTENT styles ---- */
.contentcontainer {
  position: relative;
  top: 70px;
  /* padding: 0 40px; */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---- MISSION styles ---- */
.containermission {
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
}

.innercontainer {
  display: flex;
  width: 100%;

}
.innercontainer.mission {
  background-color: black;
  height: 100px;
}

.innercontainer.column {
  flex-direction: column;
  justify-content: center;
}

.innercontainer.row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.innercontainer h2 {
  /* margin-top: 20px; */
  /* display: inline-block; */
  margin: 0 0 10px 0;
}

.innercontainer h4 {
  /* margin-bottom: 20px; */
  /* display: inline-block; */
  margin: 0;
}

/* ---- PRODUCTS styles ---- */
.containerproducts {
  margin-top: 50px;
  width: 1000px;
}

.productcontainer {
  margin: 10px 10px 10px 10px;
}

.productcontainer img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

/* ---- LOCATIONS styles ---- */
.containerlocations {
  margin-top: 50px;
  height: 500px;
  width: 1200px;
  display: flex;
  align-items: center;
}

.innercontainer.locations {
  margin-top: 15px;
}

.locationcontainer {
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 0 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* ---- CONTACT styles ---- */




/* ---- FOOTER styles ---- */

/* ---- background images ---- */
.background01 {
  background: url("../images/img-mission-background.jpg");
}

.background02 {
  background: url("../images/img-locations-background.jpg");
}
